@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto+Mono:wght@300&family=Source+Serif+Pro&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
.heading-main {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-family: "Marck Script", helvetica, sans-serif;
    font-size: 2em;
}
nav a:hover {
    background-color: #d9d9d9;
    color: black;    
}
nav {
    display: flex;
    justify-content: space-between;
}
#pic_hero {
    width: 100%;
}
.log {
    width: 90px;
}
#log_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    background-color: #3c6e71;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
.button_one, .button_two {
    text-align: center;
}
.button_one {
    margin-top: 35px;
}
.button_two {
    margin-top: 20px;
}
.payment, .pay {
    background-color: #3c6e71;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Helvetica, Roboto, sans-serif;
    border-radius: 5px;
}
.payment {
    padding: 10px 15px;
}
.pay {
    padding: 5px 10px;
}
.payment:hover, .pay:hover {
    background-color: aqua;
    color: white;
}
.pic {
    width: 100px;
    margin-top: 150px;
    margin-left: 20px;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #3c6e71;
    color: white;
}
.grid-home {
    display: grid;
    grid-template-columns: 800px auto;
}
main .p-one {
    margin-top: 150px;
    margin-right: 15px;
    font-family: Roboto, Arial, sans-serif;
    background-color: #353535;
    color: white;
    padding: 5px 15px;
}
footer a {
    text-decoration: none;
}
/* Subpage1 CSS */
.main-two {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.two {
    grid-column: 1/2;
    grid-row: 2/3;
}
.s-one {
    grid-column: 2/3;
    grid-row: 1/3;
}
.one, .two {
    margin-right: 50px;
    margin-left: 75px;
    border: 5px solid #353535;
    box-shadow: 10px 10px 15px #6f7364;
}
.one:hover, .two:hover {
    opacity: .6;
    transform: scale(1.1);
}
.s-one {
    margin-right: 70px;
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #d9d9d9;
}
.one {
    margin-top: 200px;
}
.two {
    margin-top: 25px;
}
main .p-two {
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
/* Subpage2 CSS */
main .p-three {
    text-align: center;
}
.main-three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-top: 150px;
    padding-left: 125px;
    padding-right: 100px;

}
.picture_three {
    grid-column: 1/2;
    grid-row: 2/3;
}
.picture_four {
    grid-column: 2/3;
    grid-row: 2/3;
}
.picture_three, .picture_four {
    padding: 30px 30px;
    background-color: #d9d9d9;
    border-radius: 10px;
}
.s-three {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 25px 25px;
    background-color: #3c6e71;
    color: #d9d9d9;
    font-family: Roboto, Arial, serif;
    border-radius: 10px;
}
.p-three {
    font-size: 2em;
}
    